
<div class=" ">
    <div class="col-md-12">
      <app-search (getName)='findUser($event)'></app-search>
    </div>
  </div>


  <h2 class="section">USER REPOSITORIES</h2>
<div class="container text-center">
    <div class="row my-3 py-3"  *ngFor='let repository of userRepos.newRepository'>
        <div class="col-md-2 rel"> 
            Repo Name:
            <a href="{{repository.html_url}}" target="_blank"> {{repository.name}}</a>
        </div>
        <div class="col-md-4">
            <p class="desc">Description: {{repository.description}}</p>
        </div>
        <div class="col-md-3">
            <p>Date Created: {{repository.created_at | date:"short"}}</p>
                                
            <p>Time Elapsed: {{repository.created_at | datecount}}</p>

        </div>
    </div>
</div>