
.row{
    background-color: aliceblue;
    width: 80%;
    align-items: center;
    margin-left: 120px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;

}
.section{
  text-align: center;
  color: orangered;
  font-size: 33px;  
}
a{
    color: orangered;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}