<div class="">
    <div class="col-md-12">
        <app-search (getName)='findUser($event)'></app-search>
    </div>
</div>

<div  class="row container m-3">
    <div class="col-md-6">
        <img src="{{users.avatar_url}}" alt="Searching..">
        <p class="text-muted tt">
            <a href="{{users.html_url}}" class="" target="blank" class="btn btn-success btn-sm">View profile on Github</a>
        </p>
    </div>

    <div  class="col-md-6">
        <h3>NAME: {{users.name}}</h3>
        <!-- GITHUB USERNAME:
        <a href="{{users.html_url}}" target="_blank"> {{users.login}}</a>
        <p>DATE CREATED: {{users.created_at | date:"short"}}</p>
        <p>TIME ELAPSED SINCE CREATION: {{users.created_at | date:"short"}}</p> -->
        <!-- <p>FOLLOWERS: {{users.followers}}</p>
        <p>FOLLOWING: {{users.following}}</p> -->
        <table class="table  ">
            <tbody>
                <tr>
                    <th scope="row">Github Username: </th>
                    <td> <a href="{{users.html_url}}" target="_blank">{{users.login}}</a></td>

                </tr>
                <tr>
                    <th scope="row">Created On:</th>
                    <td>{{users.created_at | date:"short"}}</td>
                </tr>

                <tr>
                    <th scope="row">Time Elapsed Since Creation:</th>
                    <td>{{users.created_at | datecount}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <p>REPOSITORIES:</p>
            <div class="col-md-5 m-2 md"*ngFor='let repository of userRepos.newRepository'>
                
            <a href="{{repository.html_url}}" target="_blank"> {{repository.name}}</a>
            <p>{{repository.description}} </p>
            </div>
            
        </div>
    </div>
</div>