
img{
    height: 50;
}
h3 {
    color: orangered;
    font-weight: bold;
    font-size: 32px;
}
li a{
    text-decoration: none;
    color: orangered;
}
.btn{
    background-color: orangered;
    font-weight: bold;
    border: none;
    color: white;
}
.md{
    background-color: aliceblue;
    border-radius: 13px;
}
a{
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
.tt{
    color: white;
}