.search_input{
    color: orangered;
    border-top-left-radius: 19px; 
    border-bottom-left-radius: 13px;   
}
input[type="submit"]{
    background-color:orangered;
    border-top-right-radius: 13px; 
    border-bottom-right-radius: 13px;
    
}
input{
    height:40px;
    border:3px solid orangered;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
div{
    background-color: rgb(47, 51, 56);
}
h3{
    color:white;
}